.full-wrapper {
    width: 1200px;
    min-width: 800px;

    margin: 0 auto;
}

.navigation-bar {
    padding: 10px;
    display: flex;
}

.app-title {
    font-weight: bold;
}

.logo {
    margin-left: auto;
}

.submit-form {
    background-color: #eeeeee;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;

    font-weight: bold;
}

.title-box,
.body-box {
    margin: 0 30px;
    padding: 5px;

    border-radius: 5px;
    border-color: transparent;
}

.add-btn {
    margin-left: auto;
    background-color: #008080;
    padding: 10px 40px;
    border-radius: 8px;
    border-color: transparent;

    color: white;
    font-weight: bold;
}

.working-label,
.done-label {
    margin: 20px;
}

.done-card,
.working-card {
    width: 300px;
    background-color: white;

    margin: 20px;
    border-radius: 10px;
    border: 3px solid #008080;
    padding: 35px;
}

.card-title {
    margin: 0;

    font-size: 25px;
}

.remove-btn {
    background-color: transparent;
    width: 130px;
    margin: 0 10px 0 0;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid red;
}

.done-btn,
.cancel-btn {
    background-color: transparent;
    width: 130px;
    margin: 0 10px 0 0;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid green;
}
